@font-face {
  font-family: "Helvetica Neue";
  src: url(./assets/HelveticaNeue.ttc);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  width: 100vw;
  height: 100vh;
}
.main-container {
  width: 100%;
  height: 100%;
  background-color: #4a4a4a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-window {
  width: 84.7rem;
  height: 53.7rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
}
.popup-image {
  margin-top: 3.4rem;
}
.main-message {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Helvetica Neue";
  margin-top: -3rem;
}
.btn-add-to-list {
  border: none;
  margin-top: 8rem;
}
.btn-add-to-list a {
  background-color: #62a1eb;
  color: #ffffff;
  border-radius: 8px;
  width: 22.3rem;
  border: none;
  font-size: 2rem;
  font-weight: 600;
  font-family: "Helvetica Neue";
  padding: 1.8rem 6.55rem 1.8rem 6.55rem;
  cursor: pointer;
  text-decoration: none;
}

.btn-main {
  border: none;
  background-color: #ffffff;
  margin-top: 7rem;
}

.btn-main a {
  color: #62a1eb;
  text-decoration: none;
  font-size: 2rem;
  font-family: "Helvetica Neue";
  font-weight: 600;
  letter-spacing: 1.5px;
}
