@font-face {
  font-family: "Helvetica Neue";
  src: url(../../assets/HelveticaNeue.ttc);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  max-width: 100vw;
  height: 100vw;
}
.return-back-btn {
  margin-top: 5.3rem;
  margin-left: 7rem;
  height: 5.3rem;
}
.laptop-info-header {
  display: flex;
}

.header-text {
  margin: auto;
  font-size: 3.4rem;
  font-family: "Helvetica Neue";
  font-weight: 700;
  display: flex;
  gap: 10.6rem;
  line-height: 2.4rem;
  margin-top: 7.1rem;
  margin-left: 69rem;
}
.info-container {
  width: 117.8rem;
}
.section-container {
  display: flex;
  justify-content: center;
}
.list-txt {
  font-size: 2.2rem;
  color: #2e2e2e;
  font-weight: 600;
  font-family: "Helvetica Neue";
}
.user-info-quest-cont li {
  list-style-type: none;
  margin-bottom: 2.5rem;
}

.answer-txt {
  color: #797979;
  line-height: 2.7rem;
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
  font-family: "Helvetica Neue";
  list-style-type: none;
}
.user-info-flex {
  display: flex;
  gap: 6.8rem;
  align-items: center;
  margin-top: 7.8rem;
}
.first-divider {
  width: 117.8rem;
  border-bottom: 1px solid #a5a5a5;
  margin-top: 8.4rem;
  margin-bottom: 5.4rem;
}
.laptop-general-info-quests li,
.laptop-cpu-quests li,
.condition-price-quests li,
.purchase-date-question li {
  margin-bottom: 2.5rem;
  list-style-type: none;
}

.laptop-general-info-flex {
  display: flex;
  gap: 8.8rem;
}

.laptop-cpu-flex-container {
  display: flex;
  gap: 6.8rem;
}
.general-cpu-common-flex {
  display: flex;
  gap: 29.5rem;
}
.second-divider {
  width: 117.8rem;
  border-bottom: 1px solid #a5a5a5;
  margin-top: 5.4rem;
  margin-bottom: 5.4rem;
}
.condition-price-flex {
  display: flex;
  gap: 1.9rem;
}
.purchase-date-flex {
  display: flex;
  gap: 3.9rem;
}
.condition-price-date-flex {
  display: flex;
  gap: 27.5rem;
}

.laptop-image {
  width: 57.7rem;
  height: 34.2rem;
}
